@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.js"></script>

<div id="canvasContainer">

    <canvas onmousedown="" id="canvas" height="400" width="800" style="position:absolute;top:0px;left:0px" ></canvas>
    
</div>
<div id ="message" style="position:absolute;top:420px;left:0px" ></div>
<div id ="display" style="position:absolute;top:450px;left:0px" ></div>
<script type="text/javascript">
    $(document).ready(function()
    {
        
        var gameData;
        var sendCommandToServer = function (command) {
            var commandObject = { ID: command };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Move","Home")',
                data: JSON.stringify(commandObject),
                contentType: 'application/json',
                success: function (data) {
                    gameData = data;
                    $("#message").text( data.playerSpaceShip.col + ":" + data.playerSpaceShip.row);
                    var ctx = document.getElementById('canvas').getContext('2d');
                    ctx.fillStyle = "rgba(0, 0, 56, 70)";
                    
                    ctx.fillRect(0, 0, 500, 500);
                  
                    //var playerSpaceShipImage = new Image();
                    var playerSpaceShip = data.playerSpaceShip;
                    var images = [];

                    var draw = function () {
                        for (i = 0; i < data.map.length-1; i++) {
                            var item = data.map[i];
                            ctx.drawImage(images[i], item.col, item.row, 20, 20);
                        };
                    };

                    var loadedImages = 0;
                    for (i = 0; i < data.map.length; i++) {
                        //alert(data.map.length);
                        var image = new Image();
                        var item = data.map[i];
                        image.addEventListener("load", function () {
                            loadedImages++;
                            if (loadedImages == data.map.length) {
                                draw();
                            }
                        }, false);
                        image.src = item.FileName;
                        images.push(image);
                    }
                }
            });
        };

        var doKeyDown = function (evt) {
            var command = new String();
            sendCommandToServer(evt.keyCode);
        };

        var intersect = function (firstX, firstY, secondX, secondY)
        {
            if (firstX == secondX && firstY == secondY)
                return true;

            if ((Math.abs(firstX - secondX)  <=10) && (Math.abs(firstY - secondY)<=10))
                return true;

            return false;
        };

        var action = "";
        window.addEventListener('keydown', doKeyDown, true);
        $("#canvas").mousedown(function (e) {
            var fixedX = e.clientX - 8;
            var fixedY = e.clientY - 9;
            //determine any intersections
            for(var i=0;i<gameData.map.length;i++)
            {
                if (intersect(gameData.map[i].col, gameData.map[i].row, fixedX, fixedY)) {
                    $("#display").text(gameData.map[i].Description);
                }
            }
           
            
            $("#message").text("clicked: " + fixedX + ":" + fixedY);
        });
        sendCommandToServer(action);
    });
</script>



