@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.js"></script>
<div id ="message">mESSAGE</div>
<div id="canvasContainer">

    <canvas id="canvas" height="400" width="800" ></canvas>
    
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
       // jQuery.ajaxSettings.traditional = true;
        var sendCommandToServer = function (command) {
            var commandObject = { ID: command };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Move","Home")',
                data: JSON.stringify(commandObject),
                contentType: 'application/json',
                success: function (data) {
                    $(".message").text(data.playerSpaceShip.row + "," + data.playerSpaceShip.col);
                    var ctx = document.getElementById('canvas').getContext('2d');
                    ctx.fillStyle = "rgba(0, 0,56, 70)";
                    ctx.fillRect(0, 0, 500, 500);
                    var playerSpaceShipImage = new Image();
                    var playerSpaceShip = data.playerSpaceShip;
                    

                    //draw our spaceship
                    playerSpaceShipImage.onload = function () {
                        ctx.drawImage(playerSpaceShipImage, playerSpaceShip.col, playerSpaceShip.row, 20, 20);
                    };
                    playerSpaceShipImage.src = playerSpaceShip.FileName;

                    //load the images
                    var images = [];

                    // draw them 
                    var draw = function () {
                        for (i = 0; i < data.map.length; i++) {
                            var item = data.map[i];
                            ctx.drawImage(images[i], item.row, item.col, 20, 20);
                        };
                    };

                    var loadedImages = 0;
                    for (i = 0; i < data.map.length; i++) {
                        // var ctx = document.getElementById('canvas-' + i).getContext('2d'),
                        var image = new Image();
                        var item = data.map[i];
                        image.src = item.FileName;

                        image.onload = function () {
                            loadedImages++;
                            if (loadedImages == data.map.length)
                                draw();
                        };
                        images.push(image);
                    }
                }
            });
        };

        var doKeyDown = function (evt) {
            var command = new String();
           // alert(evt.keyCode);
            sendCommandToServer(evt.keyCode);

        }

        var action = "hi";
        window.addEventListener('keydown', doKeyDown, true);
        sendCommandToServer(action);
    });
</script>



