
<canvas id="canvas">

</canvas>

    <div id="DisplayText">

    </div>
  <script type="text/javascript">
      var action = new String();
      $.ajax({
          type: "POST",
          url: '@Url.Action("Move","Galaxy")',
          data: JSON.stringify(action),
          contentType: "application/json; charset=utf-8",
          dataType: "html",
          success: function (data) {
                alert("here" + data.d.toString());
          }
      });

        @* //var playerSpaceShipImage = new Image();
          var map = '@(Model.map)'
          var playerSpaceShip = '@(Model.playerSpaceShip)';
          var ctx = document.getElementById('canvas').getContext('2d');

          playerSpaceShipImage.onload = function () {
              ctx.drawImage(playerSpaceShipImage, playerSpaceShip.col, playerSpaceShipImage.row);
          };
          playerSpaceShipImage.src = playerSpaceShip.FileName;*/*@

          //foreach of the rest of them



          //dart.src = "/Content/Images/dart.png";

    </script>